<div class="flex items-start justify-center h-screen flex-col p-4">
  <h1 class="font-bold text-4xl mb-3">Welcome to GoAhead</h1>
  <p>That is small app to track your plans and notes in one place all togather</p>
</div>
