<div class="flex items-start justify-center h-screen flex-col p-4 md:p-8 lg:p-16">
  <h1 class="font-bold text-5xl md:text-7xl mb-3">Welcome to GoAhead</h1>
  <p class="font-medium text-lg md:text-xl lg:w-[65ch] lg:text-2xl leading-8 mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, assumenda. Ratione vitae aspernatur quo culpa explicabo quod corporis maxime sapiente.</p>
</div>
