<section class="mt-16 min-h-screen">
  <h1 class="font-bold text-4xl">Editing note</h1>

  <%= render "form", note: @note %>

  <div class="mt-8 space-x-2">
    <%= link_to "Show this note", board_note_path(@board, @note), class: "button rounded-full text-xs" %>
    <%= link_to "Back to notes", board_path(@board), class: "button rounded-full text-xs" %>
  </div>
</section>
