<section class="mt-16 min-h-screen">
  <h1 class="font-normal md:text-8xl lg:text-9xl">New note</h1>

  <%= render "form", note: @note, board: @board %>

  <%= link_to 'Back to notes', board_path(@board), class: "button" %>
</section>
