<section class="mt-16 min-h-screen">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="mb-8 p-4 bg-green-900/50 text-white space-x-2 flex items-center" id="notice">
        <i class="ph-warning text-2xl"></i>

        <span>
          <%= notice %>
        </span>
      </p>
    <% end %>

    <%= render @note %>
  </div>
</section>
