<section class="mt-16 min-h-screen">
  <h1 class="font-normal md:text-8xl lg:text-9xl">New board</h1>

  <%= render "form", board: @board %>

  <%= link_to 'Back to boards', boards_path , class: "button" %>
</section>
