<section class="mt-16 min-h-screen">
  <div class="mb-8">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @board %>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">
    <%= render @board.notes, model_name: :note %>

  </div>

  <%= link_to 'New Note', new_board_note_path(@board), class: "button mt-8 text-lg mx-auto rounded-full border-gray-400 text-gray-400" %>
</section>
