@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *::-webkit-scrollbar {
    width: 0.5rem;
  }

  *::-webkit-scrollbar-track {
    background: #fff;
  }

  *::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 3px;
  }
}
